menu "ESP WiFi Configuration"
    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.
    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
    config ESP_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        help
            WiFi channel (network channel) for the example to use.
    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        help
            Max number of the STA connects to AP.
endmenu

menu "Ambient Lighting GPIO Configuration"
  config DASHBOARD_GPIO
    int "Dashboard GPIO"
    default 21
    help
      GPIO pin number for the dashboard ambient light.

  config DASHBOARD_MAX_LEDS
    int "Dashboard Max LEDs"
    default 110
    help
      Maximum number of LEDs for the dashboard ambient light.

  config CENTER_GPIO
    int "Center GPIO"
    default 23
    help
      GPIO pin number for the center ambient light.

  config CENTER_MAX_LEDS
    int "Center Max LEDs"
    default 110
    help
      Maximum number of LEDs for the center ambient light.

  config DOOR_GPIO
    int "Door GPIO"
    default 25
    help
      GPIO pin number for the door ambient light.

  config DOOR_MAX_LEDS
    int "Door Max LEDs"
    default 110
    help
      Maximum number of LEDs for the door ambient light.
endmenu